{% set utils = aek.extension("CMAuthUtilities") %}
{% set attrs = utils.getTokenAttributes() %}

{% if attrs.username %}

    {% set service = aek.create_service("https://m4.api-uat.waikato.ac.nz/mymonitor/balance?username=" ~ attrs.username) %}
    {{ service.set_namespace("") }}
    {{ service.set_method("GET") }}

    {{ service.set_header("Content-Type", "application/json") }}
    {{ service.set_authorization("Basic Y2FtcHVzbTpUaGlzaXN0aGV3YXkyZ28=") }}

    {{ aek.respond(service.json) }}

{% endif %}